.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stroke {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.btn {
  background-color: gray;
}

.containerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.text {
  margin-block-start: 0px;
  margin-block-end: 0px;
}
